CRM_DB_PASSWORD=choose-a-local-password
CRM_CLOUD_JDBC_URL=jdbc:postgresql://host.docker.internal:15438/nextgen_crm
CRM_CLOUD_DB_USERNAME=crm_app
CRM_CLOUD_DB_PASSWORD=replace-with-the-private-cloud-password
